body{
  background: -webkit-linear-gradient(180deg, rgb(0, 201, 255), rgb(146, 254, 157) 100%);
  background: -moz-linear-gradient(180deg, rgb(0, 201, 255), rgb(146, 254, 157) 100%);
  background: linear-gradient(180deg, rgb(0, 201, 255), rgb(146, 254, 157) 100%);
  margin-bottom: 150px;
}

.header{
 padding: 50px 0 50px 0;
}

p{
  font-weight: 600;
  font-size: 1.1em;
}

.title>h1{
  margin: 50px 0 50px 0;
}

.title>h2{
  margin: 50px 0 50px 0;
}

.top-info-blocks{
  border-radius: 10px;
  margin-bottom: 50px;
  padding: 20px 40px;
  background-color: #F2F8FD;
  -webkit-box-shadow: 7px 6px 37px 7px rgba(0,0,0,0.35);
  box-shadow: 7px 6px 37px 7px rgba(0,0,0,0.35);
}

.img-top-block{
  transition: 1s;
}

.img-top-block:hover{
  transform: scale(1.2);
}

.img-info{
  width: 80%;
  border-radius: 20px;
  -webkit-box-shadow: 7px 6px 37px 7px rgba(0,0,0,0.35);
  box-shadow: 7px 6px 37px 7px rgba(0,0,0,0.35);
}

.img-info{
  transition: 1s;
}

.img-info:hover{
  transform: scale(1.1);
}

.img-info{
  margin-bottom: 150px;
}

@media only screen and (max-width: 991px){
  .top-info-blocks:first-child{
    border: none;
  }

  .top-info-blocks:last-child{
    border: none;
  }

  .top-info-blocks:nth-child(2n){
    border: none;
  }

  .top-info-blocks{
    margin: 0;
    padding: 0;
  }

  .img-top-block{
    transition: none;
  }

  .img-top-block:hover{
    transform: none;
  }
}
